.header__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-bottom: -15px;

  list-style: none;

  max-width: 450px;
}

@media (max-width: 767px) {
  .header__contacts {
    max-width: 180px;
  }
}
