.intro__title {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;

  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

@media (max-width: 1023px) {
  .intro__title {
    font-size: 60px;
    line-height: 70px;

    max-width: 470px;

    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 40px;
    line-height: 47px;

    margin-bottom: 27px;
  }
}
