.products__item-title {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;

  max-width: 166px;

  margin: 0 44px;
  padding: 0;
  margin-top: 50px;
}

@media (max-width: 1023px) {
  .products__item-title {
    margin-top: 40px;
  }
}

@media (max-width: 1023px) {
  .products__item-title {
    margin: 0 34px;
    margin-top: 20px;
  }
}
