.header__contact {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  text-decoration: none;

  max-width: 250px;

  font-family: "PT Mono", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #00b2ff;
  }
}
