.footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;

  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

@media (max-width: 767px) {
  .footer__title {
    display: none;

    margin: 0;
  }
}
