.advantages__item {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-left: 42px;
  padding-right: 43px;
  padding-bottom: 66px;

  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;

  box-sizing: border-box;
  width: calc(50% - 15px);
  min-height: 299px;

  cursor: pointer;

  background-color: #ffffff;


  &:hover {
    background-color: #00b2ff;

    .advantages__icon {
      fill: #ffffff;
    }

    .advantages__title,
    .advantages__text {
      color: #ffffff;
    }
  }
}

@media (max-width: 1023px) {
  .advantages__item {
    min-height: 0;

    border-left: 2px solid #00b2ff;

    padding-top: 24px;
    padding-left: 26px;
    padding-right: 20px;
    padding-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .advantages__item {
    width: 100%;

    margin-bottom: 19px;

    padding-left: 24px;
    padding-bottom: 22px;
  }
}
