.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
  }
}
