.header {
  margin: 0 auto;
  padding: 31px 50px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1510px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1023px) {
  .header {
    padding: 20px 25px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 17px;
  }
}
