.advantages__item_type_stopwatch {
  &::before {
    content: url(../img/icon-stopwatch.svg);

    width: 29px;
    height: 35px;

    margin: 0;
    padding: 0;
    margin-bottom: 19px;
  }

  &:hover::before {
    content: url(../img/icon-stopwatch-hover.svg);
  }
}

@media (max-width: 1023px) {
  .advantages__item_type_stopwatch {
    &::before {
      margin-bottom: 6px;
    }
  }
}

@media (max-width: 767px) {
  .advantages__item_type_stopwatch {
    &::before {
      margin-bottom: 13px;
    }
  }
}


