.form_type_popup {
  box-sizing: border-box;
  max-width: 490px;

  padding: 0 39px;
  padding-top: 30px;
  padding-bottom: 36px;
}

.form_type_popup textarea {
  width: 411px;
  height: 104px;

  margin-bottom: 34px;
}
