.form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  width: 100%;
}

@media (max-width: 767px) {
  .form__wrapper {
    flex-direction: column;

    margin-bottom: 30px;
  }
}
