.form__subtitle {
  font-family: PT Mono, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

  margin: 0;
  padding: 0;
  margin-bottom: 52px;
}

@media (max-width: 1023px) {
  .form__subtitle {
    margin-bottom: 55px;
  }
}

@media (max-width: 1023px) {
  .form__subtitle {
    margin-bottom: 27px;
  }
}
