.footer__button_closed {
  &::before {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);

    content: "";

    width: 16px;
    height: 1px;

    background-color: #c4c4c4;
  }

  &::after {
    content: "";

    width: 16px;
    height: 1px;

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%) rotate(90deg);

    background-color: #c4c4c4;
  }
}
